In [2]:
import pandas as pd

In [3]:
import json
from pandas.io.json import json_normalize

In [4]:
wbpj=pd.read_json('world_bank_projects.json')
wbpj.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [15]:
wbpj.columns

Index([                     u'_id',               u'approvalfy',
           u'board_approval_month',        u'boardapprovaldate',
                       u'borrower',              u'closingdate',
               u'country_namecode',              u'countrycode',
                    u'countryname',         u'countryshortname',
                          u'docty', u'envassesmentcategorycode',
                       u'grantamt',              u'ibrdcommamt',
                             u'id',               u'idacommamt',
                      u'impagency',             u'lendinginstr',
               u'lendinginstrtype',          u'lendprojectcost',
            u'majorsector_percent',        u'mjsector_namecode',
                        u'mjtheme',         u'mjtheme_namecode',
                    u'mjthemecode',                 u'prodline',
                   u'prodlinetext',          u'productlinetype',
               u'project_abstract',             u'project_name',
                    u'projectdocs',     u'projectfinancialtype',
           u'projectstatusdisplay',               u'regionname',
                         u'sector',                  u'sector1',
                        u'sector2',                  u'sector3',
                        u'sector4',          u'sector_namecode',
                     u'sectorcode',                   u'source',
                         u'status',     u'supplementprojectflg',
                         u'theme1',           u'theme_namecode',
                      u'themecode',                 u'totalamt',
                   u'totalcommamt',                      u'url'],
      dtype='object')

In [53]:
chk=wbpj[wbpj.countrycode=='5M']
chk

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
131,{u'$oid': u'52b213b38594d8a2be17c803'},2013,June,2013-06-18T00:00:00Z,CAWTAR,2014-12-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,FI,IBRD,Active,N,"{u'Percent': 40, u'Name': u'Micro, Small and M...","[{u'code': u'41', u'name': u'Micro, Small and ...",41,0,600000,http://www.worldbank.org/projects/P144655/mnxt...
179,{u'$oid': u'52b213b38594d8a2be17c833'},2013,May,2013-05-23T00:00:00Z,NaN,2017-12-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,"LR,YW,WZ,AZ",IBRD,Active,N,"{u'Percent': 20, u'Name': u'Biodiversity'}","[{u'code': u'80', u'name': u'Biodiversity'}, {...","85,79,86,81,80",0,1000000,http://www.worldbank.org/projects/P130343/mena...
322,{u'$oid': u'52b213b38594d8a2be17c8c2'},2013,February,2013-02-08T00:00:00Z,PALESTINIAN AUTHORITY,NaN,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,"BH,WB",IBRD,Active,Y,"{u'Percent': 25, u'Name': u'Pollution manageme...","[{u'code': u'84', u'name': u'Pollution managem...","71,39,84",0,8000000,http://www.worldbank.org/projects/P132268/soli...
486,{u'$oid': u'52b213b38594d8a2be17c966'},2013,September,2012-09-01T00:00:00Z,GOVERNMENT OF LEBANON & JORDAN,2015-01-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,"BZ,BS,BQ,BN",IBRD,Active,N,"{u'Percent': 25, u'Name': u'Other public secto...","[{u'code': u'30', u'name': u'Other public sect...","54,55,56,30",0,2400000,http://www.worldbank.org/projects/P132097/5m-d...

In [1]:
cols=wbpj[['countryname','mjtheme','mjthemecode','project_name','mjtheme_namecode']]
cols

NameError: name 'wbpj' is not defined

df2

In [63]:
grp1=grp.count.sort()

AttributeError: 'function' object has no attribute 'sort'

In [9]:
j=wbpj.countryname.value_counts().head(10)
j

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
dtype: int64

In [24]:
mj=wbpj.mjtheme_namecode.value_counts().head(10)
mj

[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                                                                                            12
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u''}]                                                                                                                                                                    11
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]                                                                                                                                                     8
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                                                                                                       6
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]                                                                                6
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]                                                                                                                                           5
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]     5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u''}]                                                                                                                                         5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'4', u'name': u''}]                                                                                                                                          5
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'5', u'name': u'Trade and integration'}]                                                                                                                          5
dtype: int64

In [25]:
dt=pd.DataFrame(mj)
dt

                                                     0
[{u'code': u'11', u'name': u'Environment and na...  12
[{u'code': u'8', u'name': u'Human development'}...  11
[{u'code': u'8', u'name': u'Human development'}...   8
[{u'code': u'4', u'name': u'Financial and priva...   6
[{u'code': u'2', u'name': u'Public sector gover...   6
[{u'code': u'8', u'name': u'Human development'}...   5
[{u'code': u'8', u'name': u'Human development'}...   5
[{u'code': u'11', u'name': u'Environment and na...   5
[{u'code': u'11', u'name': u'Environment and na...   5
[{u'code': u'4', u'name': u'Financial and priva...   5

In [23]:
json_normalize(dt, 'name')

TypeError: string indices must be integers